
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Employee List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>EmpId</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>EMail</th>
                <th>dob</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees | async">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.emailId}}</td>
                    <td>{{employee.dob}}</td>
                    <td><button (click)=deleteEmployee(employee.id) class="btn btn-danger">detete</button>
                        <button (click)=updateEmployee(employee.id) class="btn btn-info">edit</button>
                        <button (click)=employeeDetails(employee.id) class="btn btn-info">details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
