<div class="login">
        <div class="login-triangle"></div>
        
        <h2 class="login-header">Reservation</h2>
      
        <form [formGroup]="registrationForm" class="login-container" >
                <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                        <input type="email" placeholder="Email" formControlName="email">
                      </p>
                        <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                        <div *ngIf="formControls.email.errors.required">Email is required</div>
                        </div>
                      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                        <input type="password" placeholder="password" formControlName="password">
                      </p>
                  
                      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                        <div *ngIf="formControls.password.errors.required">password is required</div>
                      </div>
                      
                      <p [ngClass]="{ 'has-error': isSubmitted && formControls.cityName.errors }">
                            <select class="custom-select" (change)="changeCity($event)" formControlName="cityName">
                                    <option value="">Choose your city</option>
                                    <option *ngFor="let city of City" [ngValue]="city">{{city}}</option>
                                  </select>
                      </p>   
                      <div *ngIf="isSubmitted && formControls.cityName.errors" class="help-block">
                            <div *ngIf="formControls.cityName.errors.required">city is required</div>
                          </div> 
                      <p>
                        <input type="submit" value="Log in">
                      </p>
        </form>
      </div>
    

      